
// .adm-nav-bar-title {
//     color: #333;
// }
.navBar {
    width: 100%;
    color: #333;
    background-color: #f6f5f6;
    background-color: cyan !important;
}
.adm-nav-bar {
    color: #333;
    background-color: #f6f5f6;
}
.adm-nav-bar-title {
    color: #333;
    background-color: red;
    color: red;
}